<h1>New File Note</h1>

<% form_for(:file_note, :url => {:action => "create"}, :method => "post") do |f| %>

  <p>
    <%= f.label :contact_type %><br />
    <%= f.select :contact_type, FileNote::CONTACT_TYPES, :prompt => "Select Contact Type" %>
  </p>

  <p>
    <%= f.label :narrative %><br />
    <%= f.text_area :narrative, :rows => 10 %>
  </p>
  
  <p>
    <%= f.label :topics %><br />
    
    <% for topic in @topics %>
    <div>
      <%= check_box_tag "file_note[topic_ids][]", topic.id %>
      <%= topic.name %>
    </div>
    <% end %>
    
  </p>
  
  <p>
    <%= f.submit 'Generate' %>
  </p>
<% end %>


